---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Hero from "../components/Hero.astro";
import Problemet from "../components/Problemet.astro";
import HvadKanDu from "../components/Hvadkandu.astro";
import Om from "../components/Omplastic.astro";
import Shop from "../components/Shop.astro";
import Doner from "../components/Doner.astro";
import { Image } from 'astro:assets';
import problem from "../assets/images/problem_img.png";
import om from "../assets/images/om_img.png";
---
<MainLayout title="Titel">
	<Hero id="hero" ></Hero>
	<section  id="problemet">
	<Problemet  ></Problemet>
	</section>
	<Image src={problem} alt="plastik pose i vand" class="w-full"/>
<section id="hvadkandu" >
	<HvadKanDu ></HvadKanDu>
	</section>
	<section id="doner">
	<Doner  ></Doner>
	</section>
	<section id="shop" >
	<Shop ></Shop>
	</section>
	<section id="om" >
	<Om ></Om>
	</section>
	<Image src={om} alt="plastik flaske i vand" class="w-full"/>
</MainLayout>