---
import { Image } from 'astro:assets';
import img from '../assets/images/doner_img.png';
---
<section class="grid grid-cols-2">
    <Image src={img} alt=""/>
    <article class="">
        <h2>Gør en forskel for fremtiden</h2>
        <p>Støtte fra donerer som dig er kritiske for udviklingen af løsninger på udfordringerne med plastik. Doner idag og blen del af vores vision og for en bedre fremtid uden plasik. Uden dig er det ikke muligt</p>
        <form action=""></form>
    </article>
</section>