---
import Button from '../components/Button.astro';
---
<section class="bg-[url('/public/baggrund_mobil.jpg')] bg-cover md:bg-[url('/public/hav_baggrund.jpg')] h-full w-screen">
    <video width="" height="" autoplay muted loop>
                    <source src="hero.mov" type="video/mov">
                    <source src="hero.webm" type="video/webm">
                </video>
                
<div class="flex flex-col justify-center align-middle text-lysblaa mx-auto">

    <div>

    <h1 class="text-3xl text-center">#SingleUseSucks</h1>
</div>

    <div class="flex justify-center align-middle flex-col backdrop-blur bg-lysblaa/40  mx-auto p-16 gap-5 rounded-2xl ">
    
<Button>Støt nu</Button>
<p class=" text-lysblaa">Og bliv en del af løsningen</p>
</div>

</div>


</section>
