---
import Button from '../components/Button.astro';
---
<section class="relative flex items-center justify-center sm:justify-end h-screen mb-12 ">
    

    <div class="relative z-20 flex flex-col justify-end text-lysblaa sm:mr-16 md:mr-32 lg:mr-44 lx:mr-48">

    <div>

    <h1 class="text-3xl text-center">#SingleUseSucks</h1>
</div>

    <div class="flex justify-center align-middle flex-col backdrop-blur bg-lysblaa/40 p-16 gap-5 rounded-2xl ">
    
<Button>Støt nu</Button>
<p class=" text-lysblaa">Og bliv en del af løsningen</p>
</div>

</div>

    
    <video autoplay loop muted class="absolute hidden sm:block z-10 w-auto" width="" height="" autoplay muted loop>
                    <source src="hero.mov" type="video/mov">
                    <source src="hero.webm" type="video/webm">
                </video>  
                
                <video autoplay loop muted class="absolute sm:hidden z-10 w-auto " width="" height="" autoplay muted loop>
                    <source src="hero_mobil.mov" type="video/mov">
                    <source src="hero_mobil.webm" type="video/webm">
                </video>
                


</section>

<!-- class="bg-[url('/public/baggrund_mobil.jpg')] bg-cover md:bg-[url('/public/hav_baggrund.jpg')] h-full w-screen" -->