---

---
<section class="bg-morkblaa">
    <h2>HVAD KAN JEG GØRE</h2>
    <article>
        <p>Alle kan gøre noget, men ingen kan gøre alt. Det hele starter med DIG, de ændringer, du kan skabe i din hverdag, og hvordan du kan og har lyst til at støtte plastik-sagen.</p>
    </article>
    <article>
        
    </article>

</section>