---
import { Image } from 'astro:assets';
import tal from '../assets/images/tal.svg';
import halvfjerds from '../assets/images/70%.svg';
import toogtyve from '../assets/images/22%.svg';
import eight from '../assets/images/8%.svg';
---

<section class="px-8 mt-20 max-w-6xl mx-auto">

    <h2 class="pb-10">Vi kæmper for en verden uden plastikforurening</h2>
    
    <article class="grid lg:grid-cols-2 gap-20">    
        <div  class="grid gap-5">
            <h3>Vores mission og vision</h3>
            <p>Hos Pastic Change arbejder vi for at reducere plastikforureningen ved at inspirere, engagere og motivere så mange vi kan, så vi sammen kan ændre adfærd og fremhæve de gode eksempler. </p>
            <p>Derfor er det også vigtigt for at arbejde med politik og grøn lovgivning, og kræve ambitiøse målsætninger der reducerer produktionen af plastik og fremmer genbrug. Dette gør vi ved at samarbejde med industri-aktører, så vi kan få vores løsninger ud i praksis.</p>
        </div>
    
        <div  class="grid gap-5">
            <h3>Hvordan opstod Plastic Change</h3>
            <p>Plastic Change blev grundlagt i april 2014. Initiativet til at stifte  Plastic Change blev taget af miljøbiolog Henrik Beha Pedersen i  samarbejde med en række frivillige kræfter. Baggrunden for Plastic Changes stiftelse er, at vi lever i en  plastikkrise, hvor plastik definerer vores kultur, men hvor vi ikke må  lade den defineres vores fremtid.</p>
            <p>Sammen kan vi skabe opmærksomhed omkring problemet med plastikforurening, så vi kan fjerne plastikken fra naturen inden den havner i havet.</p>
        </div>

    </article>

</section>
<section class="hidden lg:block">
    <article >
         <Image src={tal} alt="tal." class="w-full h-auto"/>
    </article>

    <article class="grid grid-cols-3 gap-4 bg-cyan-400 text-center">
        <div><p>Hav og miljøindsatser</p></div>
        <div><p>Fundraising og indsamlinger</p></div>
        <div><p>Projektstyring og administration</p></div>
    </article>

    <article class=" bg-cyan-400 pb-20 text-right">
        <p class="px-8 pt-10 ">Hvordan din støtte og vores arbejde fordeler sig</p>
    </article>
</section>

 <section class="lg:hidden flex flex-col items-center gap-5 pt-5">
    <p class="pt-10 text-center">Hvordan din støtte og vores arbejde fordeler sig</p>
    <div>        
        <Image src={halvfjerds} alt="70%" class=""/>
    <p class="text-center">Hav og miljøindsatser</p>
</div>
  <div>        
        <Image src={toogtyve} alt="22%" class=""/>
    <p class="text-center">Fundraising og indsamlinger</p>
</div>
 <div>        
        <Image src={eight} alt="8%" class=""/>
    <p class="text-center">Fundraising og indsamlinger</p>
</div>

 </section>

